<!-- Header Section -->
<div class="header">
  <h1>Request</h1>
  <div>
    <button>New Request</button>  <!-- Button for creating a new request -->
  </div>
</div>

  <div class="search-container">
    <input type="text" placeholder="Search request" formControlName="firstName">
 
    <button>Search</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Test</td>
        <td>User</td>
        <td>test@test.com</td>
      </tr>
    </tbody>
  </table>
